<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>Ponatech School for Computer Graphics and Animation</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/utility.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/jodit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <nav class="navbar box-shadow">
      <div class="brand"><a href="/">PSCGA</a></div>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="http://art.ponatech.com/" class="cta">Go To Main Site</a></li>
      </ul>
    </nav>
    <main class="container-w">
      <form id="form" @submit.prevent="submitForm">
        <div class="form-control">
          <label for="Name">Module Name</label>
          <input type="text" id="name" v-model="moduleName" />
        </div>
        <div class="form-control">
          <label for="description">Description</label>
          <textarea id="description" v-model="description"></textarea>
        </div>
        <div class="form-control">
          <label for="course">Course</label>
          <select name="course" id="course" @change="onCourseChange" class="select-css">
            <option>---</option>
            <option v-for="course of courses">
              {{ course.name }}
            </option>
          </select>
        </div>
        <div class="form-control flex-center">
          <input type="submit" value="Create Module" />
        </div>
      </form>
    </main>
    <script>
      window.$vm = new Vue({
        el: '#form',
        data: {
          moduleName: '',
          description: '',
          selectedCourse: '',
          courses: [],
        },
        methods: {
          submitForm(e) {
            fetch('/api/module', {
              method: 'POST',
              body: JSON.stringify({
                name: this.moduleName,
                description: this.description,
                courseId: this.getCourseIdByName(this.selectedCourse),
              }),
              headers: {
                'Content-Type': 'application/json',
              },
            })
              .then((res) => res.json())
              .then(console.log)
              .catch(console.error);
          },
          getCourseIdByName(name) {
            return (this.courses.find((c) => c.name === name) || {})._id;
          },
          onCourseChange(e) {
            console.log(e.target.value);
            this.selectedCourse = e.target.value;
          },
        },
        mounted() {
          fetch('/api/course')
            .then((res) => res.json())
            .then((courses) => (this.courses = courses));
        },
      });
    </script>
  </body>
</html>
