<h1 class="display">Login</h1>
<div class="page-content" id="app">
  <div class="button-container flex-center">
    <a class="discord flex-center" href="/api/auth/discord">
      <img src="/img/discord.svg" alt="discord logo" />
      <p>Discord</p>
    </a>
  </div>
</div>
<script src="/js/vue-login.js"></script>
